<html>
    <head>
         <script src="../javascripts/socket.io-1.4.5.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        </head>
         <body>
            <h1>
                <div id="userinfo" style="display:none"><%=userinfo%></div>
                <div id="useremail" style="display:none"><%=useremail%></div>
                Hello Welcome Back <%=userinfo%>
            </h1>
            <div>
                <h2> login User list </h2>
                <div>
                    <li id="userlist">
                    </li>
                </div>
            </div>
        </body>
        <script src="../javascripts/clientsocket.js"></script>
    </html>